* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100%;
    background: #212121;
}

#page1, #page2, #page3 {
    height: 100vh;
    width: 100%;
}

#page2 {
    display: flex;
    overflow: hidden;
}

#child {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: lawngreen;
    flex-shrink: 0;
    padding: 10px 10px;
    font-size: 25px;
    border:none;
    transform: translateX(-100%);
}

#image {
    height: 100px;
    width: 130px;
    border:none;
}