* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(
        135deg,
        #612dab 0%,
        #151950 45%,
        #163792 100%
    );
}

.outer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.todo-name {
    color:white;
    animation: glow 1.5s ease-in-out infinite alternate;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@keyframes glow {
    from {
        text-shadow: 0 0 2px #8aa4ff;
    }
    to {
        text-shadow:
            0 0 4px #8aa4ff,
            0 0 8px #6d7bff;
    }   
}

.inner {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    width: min(700px, 90%);
    width: min(700px, 90%);
    border-radius: 2rem;
    overflow-y: auto;
}

.inner::-webkit-scrollbar {
    width: 8px;
}

.inner::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 10px;
}

.inner::-webkit-scrollbar-track {
    background: #151950;
}

.input-div {
    display: flex;
    position: relative;
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
}

.input-text {
    font-size: 1.2rem;
    padding: 1rem 1rem;
    border: none;
    background-color: #222a47;
    width: 85%;
    border-radius: 1.8rem;   
    background: linear-gradient(to right, #612dab, #4806a4, #330475); 
    color: rgb(237, 213, 237);
    margin-bottom: 1.5rem;
}

.input-text:focus {
    outline: none;
    border: none;
}

.input-text::placeholder {
    color: rgb(230, 177, 230);
    border: none;
}

.input-btn {
    position: absolute;
    top: 1rem;
    right: 4.2rem;
    top: 1.5rem;
}

.input-btn,
.del-btn {
    font-size: 1.2rem;
    background-color: #752ade;
    border: none;
    border-radius: 1.3rem;
    padding: 0.5rem 1rem;
    color: rgb(255, 183, 255);
    transition: transform 0.1s ease;
}

.input-btn:active,
.del-btn:active {
    transform: scale(0.95);
}

.todo-list {
    width: 85%;
    min-height: 60px;
    padding: 0.75rem 0;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 2.5rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
    background: #4806a4;
    border: 1.5px solid #28005f;
}

.todo-task {
    padding-left: 1rem;
    font-size: 1.2rem;
    color: white;
    flex: 1;
    overflow-wrap: break-word;
}

.del-btn {
    margin-right: 1rem;
}

@media (max-width: 760px) {
    .inner {
        width: 100%;
        border-radius: initial;
    }

    .input-btn {
        right: 2.9rem;
        font-size: 1rem;
    }

    .input-div {
        margin-left: 1rem;
    }

    .del-btn {
        font-size: 1rem;
    }
}